@charset "utf-8";

.picker-menban { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.5); display: none; }
.picker-model { 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 260px; 
    background: #EFEFF4; 
    transform: translateY(100%); 
    transition: transform 0.4s;
}
.picker-model.move-in { transform: translateY(0%);}
.toolbar { height: 44px; line-height: 44px; background: #f7f7f8; font-size: 14px; }
.toolbar-inner { display: flex; justify-content: space-between; padding: 0 .4rem;}
.picker-sure { color: #04BE02;}
.picker-model-content { height: calc(100% - 44px); display: flex; font-size: 18px; position: relative;}
.picker-col-items { height: 100%; overflow: hidden; padding-top: 80px;}
.picker-col-items .picker-items { height: 36px; line-height: 56px; text-align: center; overflow: hidden;}

.picker-model .picker-center-highlight { 
	height: 36px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    margin-top: -18px;
    pointer-events: none;
}
.picker-model .picker-center-highlight:after, .picker-model .picker-center-highlight:before {
	content: '';
    position: absolute;
    right: auto;
    height: 1px;
    background-color: #D9D9D9;
    display: block;
    z-index: 15;
    left: 0;
    width: 100%;
}
.picker-model .picker-center-highlight:after {
    bottom: 0;
    top: auto;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.picker-model .mask-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc((100% - 36px)/2);
	background: linear-gradient(to top,rgba(255,255,255,.1),rgba(255,255,255,.8));
	pointer-events: none;
}
.picker-model .mask-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc((100% - 36px)/2);
	background: linear-gradient(to bottom,rgba(255,255,255,.1),rgba(255,255,255,.8));
	pointer-events: none;
}
